[2019-10-31 08:37] Loader23 opened #21 "Update broke almost everything"
Hi,

I have updated to the latest version and it broke nearly everything.^^

- interface no longer runs with port 53
- _unbound user no longer working
- chroot does not work anymore (maybe not needed?)
- auto-trust-anchor not working and the command in the readme is also not working and returns:
 docker run --entrypoint unbound-anchor klutchell/unbound
Error loading shared library libgcc_s.so.1: N

[2019-10-31 11:28] klutchell commented on #21
Hey there, you're correct about the first 3 points, they can be fixed by removing those lines from the config.

The recent images run the daemon as user 'nonroot', so no need to chroot or specify a user anymore. This also means that ports below 1024 will not bind due to lack of permissions. I recommend using docker to map the internal port 5053 to whatever external port you need, often 53.

I just

[2019-10-31 12:03] Loader23 commented on #21
Hi,
thanks for the respond and the explanation.
Architecture is arm. Its running on a raspberry.

[2019-10-31 12:50] klutchell commented on #21
Hmm, I pushed https://github.com/klutchell/unbound/pull/22/commits/5560f8d59f369089d691574b6999f233a31b9f31 to test unbound-anchor on every platform and it seemed to work. I'll have to get out my raspberry pi and try it myself.

In the meantime can you run another `docker pull klutchell/unbound` to ensure you are running the latest image?

[2019-10-31 13:14] klutchell commented on #21
I just ran it on a jetson-tx2 and it was successful.

[code]

Could you check the output of the image labels?

[code]

[2019-10-31 14:18] Loader23 commented on #21
Iam using the latest Image. Output of the image label is the same:
`
org.opencontainers.image.authors: Kyle Harding <https://klutchell.dev>
org.opencontainers.image.created: 2019-10-29T14:06:45Z
org.opencontainers.image.description: Unbound is a validating, recursive, caching DNS resolver
org.opencontainers.image.documentation: https://klutchell.dev/unbound
org.opencontainers.image.revision: 2bf51

[2019-10-31 17:32] klutchell commented on #21
I noticed the instructions on the readme were incorrect for generating a root trust anchor in an existing container. I've updated them just now.

Did you confirm that your **container** is using the latest image as well? You might have to re-create it if you downloaded a more recent image. I just don't see how there can be a gcc dependency when the new images are built in alpine with musl.

[2019-10-31 17:37] Loader23 commented on #21
Iam using the latest Image. I have also deleted the Image and recreate everything just to make sure. But still, even with the new command the error message is the same.

[2019-10-31 17:40] klutchell commented on #21
Could you quickly run `uname -a` so I can test on the exact same system as you?

[2019-10-31 17:50] Loader23 commented on #21
Linux Pi-Docker 4.19.66-v7+ #1253 SMP Thu Aug 15 11:49:46 BST 2019 armv7l GNU/Linux

[2019-11-01 11:32] klutchell commented on #21
I was able to reproduce the problem on my raspberry pi 3b running rasbian buster. I will investigate and try to push out a fix today.
It seems to only affect arm32v6 and arm32v7 architectures and does not reproduce when emulating platforms via qemu, so it doesn't get flagged during testing.

[2019-11-01 21:10] klutchell commented on #21
Can you try pulling today's image and see if unbound-anchor will run?

[code]

[code]

[2019-11-01 22:17] Loader23 commented on #21
Yes, it is working now. Thanks alot :-)
Do I not need `auto-trust-anchor-file: "var/root.key"` in the unbound.conf anymore? Because having it will result in:
`
[1572646613] unbound[1:0] warning: unbound is already running as pid 1.
[1572646613] unbound[1:0] error: unable to open var/root.key for reading: No such file or directory
[1572646613] unbound[1:0] error: error reading auto-trust-anchor-fil

[2019-11-02 00:02] klutchell commented on #21
You don't want to provide that value in the config file any more. The default location is `"/var/run/unbound/root.key` which is used by unbound for reading and unbound-anchor for writing by default.

[2019-11-02 06:54] Loader23 commented on #21
Good to know :-)
If you know that a config entry is not needed anymore please provide some kind of changelog for future updates, that would make Updating alot easier :-)
But for now everything is running fine. So thanks alot for all your help.

[2019-11-02 06:54] #21 closed

[2019-11-02 12:32] klutchell commented on #21
Agreed, the documentation could use some work. Especially after the recent changes. Thanks for your patience!

[2021-01-30 07:40] jtommi opened #3 "OCI runtime exec failed: exec failed: container_linux.go:370: starting container process caused: exec: "/bin/bash": stat /bin/bash: no such file or directory: unknown"
Hi,
I wanted to run a warmup script for unbound, but when I do
`docker exec -ti unbound /bin/bash` (or just bash at the end)
I get this error message:
`OCI runtime exec failed: exec failed: container_linux.go:370: starting container process caused: exec: "/bin/bash": stat /bin/bash: no such file or directory: unknown`

System:
- Docker 20.10.2, build 2291f61
- Rpi4 2GB
- Raspbian 10 up-to-date

I

[2021-01-30 13:40] klutchell commented on #3
Yup, that's to be expected. There is no shell or system utilities in my unbound containers, just the unbound binaries and libraries.

I know this makes them more difficult to work with, but it also makes the images incredibly small and reduces the attack surface.

[2021-01-30 18:28] jtommi commented on #3
Oh, thanks for the explanation

[2021-01-30 18:28] #3 closed, assigned to nobody

[2021-05-02 02:37] id4vip opened #4 "why running image shows as unhealthy ?"
I am using this image with given instruction.
"
 run a recursive dns server on host port 53 with an existing host volume
 note that in this case /path/to/config must already contain unbound.conf and
 any other custom files (use ./rootfs_overlay/etc/unbound/ as a reference)
 /path/to/config must also be writable by user 1001
docker run --name unbound-dnscrypt \
  -p 53:53/tcp -p 53:53/udp \
  -v /p

[2021-05-02 17:08] klutchell commented on #4
You can check the healthcheck logs directly and it may give a hint as to why it is failing.

[code]

You could also try running the healthcheck manually to see what it return.

[code]

[2021-05-02 17:37] id4vip commented on #4
the result of both commands are as below
root@DietPi:/mnt/2b3e5872-f81d-4a5f-91ad-bfc916090b6c/dietpi_userdata/sonudocker/unbound# docker exec unbound dig sigok.verteiltesysteme.net @127.0.0.1

; <<>> DiG 9.11.22 <<>> sigok.verteiltesysteme.net @127.0.0.1
;; global options: +cmd
;; connection timed out; no servers could be reached

root@DietPi:/mnt/2b3e5872-f81d-4a5f-91ad-bfc916090b6c/dietpi_userd

[2021-05-02 17:55] id4vip commented on #4
my docker-compose for both applications are as
"
  adguard:
    image: adguard/adguardhome
    container_name: "adguard"
    network_mode: "host"
    restart: unless-stopped
    environment:
      - TZ=America/Edmonton
    volumes:
      - '${PWD}/adguard/work:/opt/adguardhome/work'
      - '${PWD}/adguard/confdir:/opt/adguardhome/conf'
  unbound:
    image: klutchell/unbound-dnscrypt
    containe

[2021-05-02 18:09] id4vip commented on #4
root@DietPi:/mnt/2b3e5872-f81d-4a5f-91ad-bfc916090b6c/dietpi_userdata/sonudocker# docker ps
CONTAINER ID   IMAGE                           COMMAND                  CREATED          STATUS                      PORTS                                                                                                                                                                         NAMES

ba8fa95b11

[2021-05-02 19:35] klutchell commented on #4
It looks like you changed the unbound listening port from 53 to 5335 so you'll need to update the healthcheck accordingly, or disable it entirely.

[code]

[2021-05-02 20:53] id4vip commented on #4
The result of this command is
root@DietPi:~# docker exec unbound dig -p 5335 sigok.verteiltesysteme.net @127.0.0.1

; <<>> DiG 9.11.22 <<>> -p 5335 sigok.verteiltesysteme.net @127.0.0.1
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 2473
;; flags: qr rd ra ad; QUERY: 1, ANSWER: 1, AUTHORITY: 0, ADDITIONAL: 1

;; OPT PSEUDOSECTION:
; EDNS: version: 0, fla

[2021-05-02 21:28] klutchell commented on #4
You can disable the healthcheck in your docker compose file:
https://docs.docker.com/compose/compose-file/compose-file-v3/#healthcheck

[code]

[2021-05-02 21:58] id4vip commented on #4
Thanks klutchell, I have implement
"  healthcheck:
    disable: true
"
everything work accordingly, now it not showing me any unhealthy complaint. thanks for your hardwork.

[2021-05-02 21:58] #4 closed, assigned to nobody

[2021-05-04 07:27] rochmind opened #5 "forward-zone"
unbound is setup as pihole's upstream dns and both running as docker containers. works ok except for work machine when working from home, ms teams and zoom comes back with dns request timeouts.

would adding forward requests to for recursion e.g. 1.1.1.1 enable this via forward-zone? there is no shell to cli and test this config

[2021-05-04 12:04] klutchell commented on #5
Do other devices on the same network resolve DNS okay? Are you manually setting the DNS server on each client or is your DHCP server handing out the DNS servers?

You might have better luck asking this question on the Pi-Hole forums.

[2021-05-04 13:17] rochmind commented on #5
all other devices work ok and the router is the dhcp server with auto dns. if cloudfare is the upstream dns, my work machine (uses vpn) works but if i set unbound as upstream, only that device is timing out. what is even weirder is email and internet work except collab tools. will try to do a build so i can figure out error

[2021-05-04 13:20] klutchell commented on #5
If your work machine is on a VPN then it won't be able to query DNS on the local subnet, that would be considered a DNS leak.

I expect if you disconnect your VPN the local DNS lookup will work. You'll have to use a public DNS server while connected to your work VPN, or a DNS server on your workplace network.

[2021-05-04 23:50] rochmind commented on #5
work machine uses one of them new tech where each ip connection is tunneled and it uses my local dns - i can see it in the logs

[2021-05-05 00:18] #5 closed, assigned to nobody

[2021-08-03 12:00] untcha opened #6 "Permissions for the auto-trust-anchor-file"
I'm trying to get unbound-dnscrypt running in my local kubernetes cluster to use it with pihole. Which works pretty fine with the provided config files, except the root.key

I mounted all configs (unbound.conf, root.hints, root.key, a-records.conf) as configMaps in my deployment manifest.
Without the root.key everything seems to work fine. When I mount the root.key file the container crashes with

[2021-08-03 19:51] klutchell commented on #6
Could you share a bit of your deployment yaml? I'm not clear who's doing the moving of the root key in this case, kubernetes or unbound. It almost looks as if kubernetes is trying to install the root key after unbound is running and the existing root key is in use?

`fatal error: rename(/etc/unbound/root.key.1-0-7fbc18cbf0 to /etc/unbound/root.key): Resource busy`

But it's a pretty vague error so

[2021-09-07 16:44] klutchell opened #18 "Add license"
https://github.com/NLnetLabs/unbound/blob/master/LICENSE

[2021-12-04 05:18] rahul-thakoor opened #23 "Are the builds tied to a specific kernel version?"
https://github.com/klutchell/unbound-dnscrypt/blob/130aa4c86962fa85609e965ac5fb285207f94e78/config/common.cfg#L2

hey @klutchell I was wondering what this option does? Does this mean that the resulting rootfs would be tied to a specific kernel version?

I was trying a build based on your Dockerfile here and disabling this option results in an error that kernel is too old :/

Thanks 🙏

[2021-12-04 12:34] klutchell commented on #23
Good question, I copied that from here which was written by @jakogut
https://github.com/balena-io-playground/buildroot-base/blob/main/config/common.cfg

It looks to me like it sets the version of the linux-headers kernel package to 4.19 for the toolchain?
https://github.com/buildroot/buildroot/blob/master/package/linux-headers/Config.in.host

I don't think this ties it to a specific kernel version

[2021-12-06 03:05] rahul-thakoor commented on #23
thanks @klutchell
I tried looking for more info on that config but couldn't find it 😅

[2021-12-06 15:34] jakogut commented on #23
@rahul-thakoor I'm familiar with the purpose of the kernel headers version config, but for reference, I would do `make menuconfig`, navigate to the config in question, and choose `< Help >` (or press H):

The underlying reason for this is explained in [this](http://lists.busybox.net/pipermail/buildroot/2012-October/060412.html) archived mailing list thread.

Essentially, the toolchain's libc is bu

[2021-12-06 15:39] rahul-thakoor commented on #23
thanks for the detective work there @jakogut 👍

[2021-12-06 15:39] #23 closed, assigned to nobody

[2021-12-06 15:40] jakogut commented on #23
@rahul-thakoor Also, I picked this version as it was the oldest LTS commonly (subjectively, in my perception) in use at the time.

[2021-12-06 15:41] jakogut commented on #23
This may cause issues if you try to run these images/applications on Jetson devices, which are still shipping v4.9 kernels.

[2021-12-14 08:46] BaukeZwart opened #28 "Unbound stopped working after 1.14 update"
Updated the container to 1.14 and now Adguard Home can no longer use unbound as upstream server.
Tried restarting  the container a few times.

The log isn't showing anything helpful.
Any idea how to fix this?

[code]
I reverted back to 1.13.2 and unbound is working again

[2021-12-14 08:52] RubenNL commented on #28
Can confirm, mine just stopped working after auto-updating, with the same log.
Reverting to 1.13.2 also fixed it for me.

I am running on a Oracle ARM server, i haven't tried on other hardware.

[2021-12-14 08:55] BaukeZwart commented on #28
I'm running on a Synology 920+

[2021-12-14 10:02] nikolak commented on #28
Are you using port `5053`? I had to change that port to `53` for it to work.

[2021-12-14 10:12] BaukeZwart commented on #28
Thanks @nikolak that fixed it.
Strangely it doesn't seem to matter what port mapping you set in compose.
5053:5053 53:53 5053:53 all seem to work as long as I set xxx.xxx.xxx.xxx:53 in Adguard Home as upstream.

[2021-12-14 10:14] RubenNL commented on #28
Fixed it for me too.
I changed this:
[code]
to
[code]

My adguard home configuration uses `172.17.0.1:5053` as upstream resolver, which still works.

[2021-12-14 11:26] DFlexy opened #29 "Operation not permitted error on Raspbian GNU/Linux 10 (buster)"
Hello after update my dns stop work again.
rollback for   klutchell/unbound:unbound-1-14-0 work

check logs

[3236] unbound[1:0] notice: init module 0: validator
[3065777024] unbound[1:0] notice: init module 1: iterator
[3198308228] unbound[1:0] info: start of service (unbound 1.14.0).
[0] unbound[1:0] fatal error: event_dispatch returned error -1, errno is Operation not permitted
[3236] unbound[1

[2021-12-14 12:54] klutchell commented on #28
Apologies folks, among the changes yesterday the default port switched from 5053 to 53. This was an oversight but now that it's been merged I think I prefer it that way for the default.

This shouldn't impact anyone that has mounted their own configuration volume. However if you are using the included default configuration the internal port mapping will need to change to 53.

[2021-12-14 12:57] klutchell commented on #29
Hi there, please note that in the 1.14.0 release I changed the default port from 5053 to 53.

Are you mounting your own configuration volume? Can you share your docker run or docker compose instructions?

[2021-12-14 12:57] klutchell commented on #6
closing due to no activity

[2021-12-14 12:57] #6 closed, assigned to nobody

[2021-12-14 15:37] DFlexy commented on #29
Try change port too
53:53 cant use pihole use port 53

[code]

root@Rasphouse:/home/pi# docker logs unbound
[3236] unbound[1:0] notice: init module 0: validator
[3065658240] unbound[1:0] notice: init module 1: iterator
[3199168388] unbound[1:0] info: start of service (unbound 1.14.0).
[0] unbound[1:0] fatal error: event_dispatch returned error -1, errno is Operation not permitted
[3236] unbound[1:

[2021-12-14 15:43] klutchell commented on #29
It looks like you are mounting your own configuration volume so the new default doesn't matter.

However you are using the old configuration path that has changed from `/opt/unbound/etc/unbound/` to `/etc/unbound/`. This changed in version `1.13.1` I believe.

Can you try changing your volume mount? If it still doesn't work can you share you configuration file?

[2021-12-14 17:40] DFlexy commented on #29
Here tests.
I see the container is always restarting

root@Rasphouse:/home/pi# docker rm -f unbound
unbound

root@Rasphouse:/home/pi# docker volume prune
WARNING! This will remove all local volumes not used by at least one container.
Are you sure you want to continue? [y/N] y
Deleted Volumes:
unbound

Total reclaimed space: 7.829kB
root@Rasphouse:/home/pi#
[code]
0389e1bc804b1224a5152bfab9d17ba791

[2021-12-14 17:41] DFlexy commented on #29
With this configuration below it works normally

[code]

[2021-12-14 17:49] klutchell commented on #29
Do you have a configuration file in your unbound volume? Can you share your configuration file that you have mounted?

If you haven't made any changes to your configuration you don't need to mount the volume.

[2021-12-14 17:58] DFlexy commented on #29
i dont mount config
He mount automatic.

bash: ll: command not found
root@Rasphouse:/var/lib/docker/volumes/unbound/_data# ls -la
total 28
drwxr-x--- 2 1001 1001 4096 Dec 14 14:36 .
drwx-----x 3 root root 4096 Dec 14 14:36 ..
-rw-r--r-- 1 root root  130 Dec 13 21:20 a-records.conf
-rw-r--r-- 1 root root 3315 Dec 13 21:20 root.hints
-rwxr-x--- 1 1001 1001  165 Dec 13 21:20 root.key
-rw-r--r-- 1 roo

[2021-12-14 18:01] DFlexy commented on #29
Interesting that the same volume works for both versions and one works and the other doesn't

WORK ->   klutchell/unbound:unbound-1-14-0
[code]

DONT WORK  ->   klutchell/unbound
[code]

[2021-12-14 18:24] klutchell commented on #29
For this configuration
[code]

Does the behaviour change if you remove `  -v unbound:/etc/unbound/ \`?

What if you replace `  klutchell/unbound` with `  klutchell/unbound:v1.14.0-r2`?

What if you change `port: 53` to `port: 5053` in your configuration file (and adjust the port bindings)?

Your configuration looks fine to me, and `/etc/unbound/` is the correct path and `5053:53` are the correct p

[2021-12-14 19:14] DFlexy commented on #29
Tests

[code]

[code]

[code]

[code]

[2021-12-14 19:22] rtthane commented on #29
I can also confirm that I am seeing exactly the same issue as Dflexy. I am installing from a docker-compose file. I have two Raspberry Pi's - one running Pi OS 64-bit and one running Pi OS 32-bit. The 64-bit Pi is working fine with the latest release. The 32-bit version is seeing the same errors as Dflexy. If i change the tag and pull 1.14.0 it works fine for me as well.

[2021-12-14 19:23] RubenNL commented on #28
Everyone makes mistakes, no problem :) Port 53 is indeed prefered.

Thanks for maintaining this repo.

Also thanks @BaukeZwart and @nikolak for the very quick fix.

[2021-12-14 19:28] #28 closed, assigned to nobody

[2021-12-14 19:41] klutchell commented on #29
Can both of you try with `klutchell/unbound:v1.14.0-r1` and `klutchell/unbound:v1.14.0-r0` just to confirm something? I'm running some tests to see what's happened.

[2021-12-14 19:56] rtthane commented on #29
Both r0 and r1 give the same errors for me. Also interestingly although i said my PiOS 64-bit was working okay, i have just checked PiHole and getting an N/A response for the Unbound queries for upstream DNS on the latest version, but upstream queries for 1.14.0 are fine.

[2021-12-14 19:58] DFlexy commented on #29
Nothing dont work

docker run -d \
  --name unbound \
  --hostname unbound \
  --network=lan \
  --ip=172.20.0.2 \
  --restart=unless-stopped \
  --cap-add=sys_nice \
  --cap-add=NET_ADMIN \
  -p 5053:53/tcp \
  -p 5053:53/udp \
  -v unbound:/etc/unbound/ \
  klutchell/unbound:v1.14.0-r1

root@Rasphouse:/home/pi# docker logs unbound
[3236] unbound[1:0] notice: init module 0: validator
[3065236352]

[2021-12-14 20:05] klutchell commented on #29
What if you use `username: ""` in your config? This should result in the container running as root and potentially resolving any permissions issues.

[2021-12-14 20:16] DFlexy commented on #29
like this ?

root@Rasphouse:/home/pi# id
uid=0(root) gid=0(root) groups=0(root)
root@Rasphouse:/home/pi# docker rm -f unbound
unbound
root@Rasphouse:/home/pi# docker volume prune
WARNING! This will remove all local volumes not used by at least one container.
Are you sure you want to continue? [y/N] y
Deleted Volumes:
unbound

Total reclaimed space: 54.84kB
root@Rasphouse:/home/pi# docker run -d \

[2021-12-14 20:21] klutchell commented on #29
Try this while the container is stopped but the volume hasn't been removed.
[code]
And maybe the output of the following would be helpful:
[code]

I'll see if I can get a branch going for these changes but the builds currently take hours.

[2021-12-14 20:25] rtthane commented on #29
Noticed that for the r0 and r1 that it only pulls one layer down, whereas for 1.14.0 there are multiple. Even if the 1.14.0 image is completely deleted r0 and r1 only pulls the one layer. Not going to pretend I know anything about branches / etc but thought I would point that out in case it was a valid observation :-)

[2021-12-15 00:30] klutchell commented on #29
@rtthane when you refer to the "1.14.0 image" do you specifically mean the `unbound-1-14-0` tag or something else?

I ask because `unbound-1-14-0` came from a different development branch and is not what was merged to main. We should avoid further testing with that tag and stick to tags in the `x.y.z-r` format so we can easily track the issue.

I expect that the tag `1.13.2` still works, and the i

[2021-12-15 07:27] rtthane commented on #29
**when you refer to the "1.14.0 image" do you specifically mean the `unbound-1-14-0` tag or something else?**

Yes, sorry i meant klutchell/unbound:unbound-1-14-0 specifically

**I expect that the tag `1.13.2` still works, and the issue is only with `v1.14.0-r0`, `v1.14.0-r1`, `v1.14.0-r2`?**

Correct

**Did you get a chance to try the steps above?**

I haven't - only because i don't mount a separ

[2021-12-15 09:53] kradNZ commented on #29
This update also nuked my docker based pihole setup.  Default port changing from 5053 to 53 certainly doesn't help but I didn't check the change log before yolo updating.  My bad.

[1639562173] unbound[1:0] notice: init module 0: validator
[1639562173] unbound[1:0] notice: init module 1: iterator
[1639562173] unbound[1:0] info: start of service (unbound 1.14.0).
[1639562173] unbound[1:0] info: gen

[2021-12-15 12:07] klutchell commented on #29
@kradNZ Thanks for the additional info, but from those logs it looks like you service is running and not getting an error like the others. Have you seen `[0] unbound[1:0] fatal error: event_dispatch returned error -1, errno is Operation not permitted` at any point?

What does your not working compose file look like after you adjusted the ports?

[2021-12-15 12:10] klutchell commented on #29
@DFlexy @rtthane could you both try adding `command: -v -v -v` to your compose file? I would like to get some more logs around this error as I still can't reproduce it.

Also @DFlexy could you remove the volume mount from your compose file again? I want to make sure nothing external is being loaded with the image and all the defaults are used.

[2021-12-15 12:17] DFlexy commented on #29
@klutchell i change my OS for 64 bits and now work last version

[2021-12-15 13:00] klutchell commented on #29
@DFlexy can you confirm which tag is working now, and the output of `docker info` on your host OS?

[2021-12-15 13:08] rtthane commented on #29
@klutchell  - here is the output from the logs after adding the command to the compose and using the "latest" tag:

[0] unbound[1:0] info: start of service (unbound 1.14.0).
[0] unbound[1:0] fatal error: event_dispatch returned error -1, errno is Operation not permitted
[0] unbound[1:0] notice: Start of unbound 1.14.0.
[3116] unbound[1:0] debug: creating udp4 socket 0.0.0.0 53
[544499051] unbound[

[2021-12-15 13:31] klutchell commented on #29
Thanks @rtthane, I see that you have a custom network defined in your compose file called `docker` where you have assigned a static IP address.
[code]
Can you confirm that this is a docker bridge network that was working previously?

Could you also share the output of `docker info`?

Also, this is unrelated, but these env vars serve no purpose in this image.
[code]

[2021-12-15 13:48] rtthane commented on #29
**Can you confirm that this is a docker bridge network that was working previously?**
Yes the network is bridged, I use it for all the containers in my docker compose stack

**Could you also share the output of docker info**

Sure:

Client:
 Context:    default
 Debug Mode: false
 Plugins:
  app: Docker App (Docker Inc., v0.9.1-beta3)
  buildx: Docker Buildx (Docker Inc., v0.7.1-docker)

Server:

[2021-12-15 13:52] klutchell commented on #29
It looks like this is only failing on 32-bit ARM. At least one person has resolved it by switching to 64-bit. Has anyone seen this failure on any non-ARM platforms?

All platforms are tested automatically but perhaps something was missed. I will retry on one of my Raspberry Pis.

[2021-12-15 14:04] rtthane commented on #29
I mentioned previously that if i run klutchell/unbound:latest on my Pi 4 (64-bit OS) I don't receive any errors in the logs as i do with 32-bit PiOS - however my PiHole returns N/A for any queries sent to Unbound

klutchell/unbound:latest

![image](https://user-images.githubusercontent.com/82381324/146200607-f7951ee2-da72-43a9-9627-56f5c7d70c84.png)

![image](https://user-images.githubusercontent.

[2021-12-15 14:06] klutchell commented on #29
@rtthane I haven't seen your full networking stack but if Pi-hole and unbound are on the same network bridge then you want Pi-hole to point to port 53, not 5053 for it's upstream DNS.

[2021-12-15 14:13] rtthane commented on #29
@klutchell - Brill thankyou. It's working now on 64-bit after that. Cheers for the pointer, i overlooked that 👍

[2021-12-15 14:17] kroehrl opened #32 "Older root.hints in latest Image"
Hey @klutchell,

thanks for providing that great image.
I just realized, that the root.hints between the following images are now different, the "latest"-Image has an older root.hints file:

_root.hints_ from image with tag __latest__:

_root.hints_ from image with tag __unbound-1-14-0__:

If I remember correctly, the tags __v1.14.0-r0__ and __v1.14.0-r1__ behave like the __latest__ in that case.

[2021-12-15 14:18] klutchell commented on #29
Okay, so I think it's safe to say the error only appears on armv7 but I didn't see it when testing with QEMU emulation so I will have to try to reproduce on a real device.

Thanks everyone for all your patience thus far!

[2021-12-15 14:25] klutchell commented on #32
Good catch, I failed to update root.hints in the main merge. I will open a new PR and add it shortly.

This is from a development branch that did not get merged, in fact I should delete it from DockerHub to avoid confusion.

Good question! No real reason except that it's one of those things that should be validated by human eyes after running, to ensure that there wasn't some kind of network attac

[2021-12-15 14:30] kroehrl commented on #32
Awesome! Thank you very much for you quick fix :)

Good Argument and valid reason, makes sense. :+1:

From my perspective, I am fine if you set the issue to resolved - nothing to add from my side.
Keep up the good work ;)

[2021-12-15 16:21] klutchell commented on #29
If anyone is still reproducing this could you try the `pr-30` tag from https://github.com/klutchell/unbound-docker/pull/30?

This skips the attempt to drop permissions and switch to the unbound user and instead runs as root.

[2021-12-15 17:05] rtthane commented on #29
Tried pr-30 - same issue exists for me.

[2021-12-15 18:34] #32 closed, assigned to nobody

[2021-12-15 21:55] FPA-ChrisLaird commented on #29
Its quite possible the issue I'm experiencing is not the same as what others have posted here. I've not seen the same warning in unbounds log file as you pointed out.

Docker compose file is exactly the same as above but with port 53 referenced within unbound docker image.

ie:

unbound:
image: klutchell/unbound:latest
container_name: unbound
ports:
**- "5053:53/udp"
- "5053:53/tcp"**
restart: unl

[2021-12-15 21:59] klutchell commented on #29
@ChrisLaird If Pi-hole is on the same network as unbound, and you are using the included unbound config, make sure Pi-hole is pointing to `172.28.0.4#53` as it's upstream, not `172.28.0.4#5053` which it may have been previously.

[2021-12-15 22:09] FPA-ChrisLaird commented on #29
Oh!
Yes they are sharing a subnet.  My understanding was that 5053:53 meant that unbounds port 53 is exposed via port 5053 outside of the container and therefore pihole needs to refer to port 5053 too.  But this is not the case if they share a network?

I'm not super experienced with docker as you can possibly tell.  Currently at work, will hopefully fix this tonight.  Thanks so much for your help

[2021-12-16 00:02] klutchell commented on #29
@ChrisLaird containers on the same bridge network can see all the ports on every container, exposed or not. The ports mapping in docker run or docker-compose is to map the container ports to the host interfaces (outside the bridge).

[2021-12-16 11:57] kradNZ commented on #29
@klutchell This is ChrisLaird (home account), this resolved my issue thanks!

[2021-12-16 14:13] DFlexy commented on #29
root@Rasphouse:/home/pi# docker info
Client:
 Context:    default
 Debug Mode: false
 Plugins:
  app: Docker App (Docker Inc., v0.9.1-beta3)
  buildx: Docker Buildx (Docker Inc., v0.7.1-docker)

Server:
 Containers: 8
  Running: 7
  Paused: 0
  Stopped: 1
 Images: 9
 Server Version: 20.10.12
 Storage Driver: overlay2
  Backing Filesystem: extfs
  Supports d_type: true
  Native Overlay Diff: true

[2021-12-16 14:41] DFlexy commented on #29
Here my config for help

[code]

[code]

[code]

[2021-12-17 14:02] klutchell commented on #29
Can you try with the `pr-34` tag? This tag reverts the default port to 5053. I'm not planning to merge it but I would like to see if it changes anything?

[2021-12-17 14:06] rtthane commented on #29
No still the same with that release unfortunately even with defaulting back to 5053

[2021-12-17 14:20] klutchell commented on #29
Okay thank you. It definitely seems related to the change from emulated builds to buildroot toolchain builds so this might be difficult to track down but at least we have some workarounds in the meantime.
- use arm64 if armv7 isn't working
- use tags 1.13.2 or earlier

[2021-12-17 14:30] rtthane commented on #29
The tag unbound-1-14-0 works with ARMv7 as well.

[2021-12-17 14:36] klutchell commented on #29
I've removed that tag as it was from a development branch, but thanks for the reminder!

[2021-12-18 14:27] klutchell commented on #29
I still haven't been able to reproduce this on my armv7 devices. Can you provide the exact OS release? Something like the following commands should be enough.
[code]

Also, let's simplify the test and skip the docker compose stuff. What is the output of the following command on your device?
[code]
These commands just pull the latest tag and force it to use the correct platform. Then we run it with

[2021-12-18 15:17] rtthane commented on #29
**I still haven't been able to reproduce this on my armv7 devices. Can you provide the exact OS release? Something like the following commands should be enough.**

PRETTY_NAME="Raspbian GNU/Linux 10 (buster)"
NAME="Raspbian GNU/Linux"
VERSION_ID="10"
VERSION="10 (buster)"
VERSION_CODENAME=buster
ID=raspbian
ID_LIKE=debian
HOME_URL="http://www.raspbian.org/"
SUPPORT_URL="http://www.raspbian.org/Ras

[2021-12-19 10:27] rtthane commented on #29
@klutchell - So i re-imaged my Pi and replaced the OS with Ubuntu 20.04.3 Armv7 - it works with the latest tag! I ran the same docker stack as before with no modifications. Not sure if related to the PiOS Debian image previously but all good for now it seems.

Really appreciate all your help with this. Thankyou!

[2021-12-21 07:12] JonAnder83 opened #35 "OCI runtime exec failed"
I'm getting this error on both my docker setups on x86_64 and arm64 (meaning not platform issue):

`OCI runtime exec failed: exec failed: container_linux.go:380: starting container process caused: exec: "drill": executable file not found in $PATH: unknown`

Any suggestion?

[2021-12-21 13:54] klutchell commented on #35
Hey @JonAnder83, in the latest v14 release I replaced the `drill` executable in the container with `dig`.

Do you have a custom healthcheck or some other command that is making use of this?

[2021-12-22 06:20] JonAnder83 commented on #35
Hi! AFAIK, there's no health check. I launch this container in conjunction with pihole.
DNS resolution seems to be working still so I don't really know what's using that drill command.

[2021-12-22 12:54] klutchell commented on #35
This repo has no mention of the word drill in it's current state, so it must be something stale. Can you share the output of `docker inspect <unbound_container>`?

[2021-12-22 13:00] JonAnder83 commented on #35
[code]

That's the interesting part right?
I don't have any health checks configured on my docker file tho. i don't know where that came from nor how to change/remove it :(

[code]

[2021-12-22 13:06] klutchell commented on #35
Very weird, that is the old healthcheck that I removed over a month ago, so if you are using a recent image without drill, the healthcheck should be gone as well.

It seems like your compose stack hasn't removed the old healthcheck, I wonder if that's a known compose issue?

Can you try changing your compose file to `image: klutchell/unbound:v1.14.0-r4` and see if it recreates the container?

If a

[2021-12-22 13:07] klutchell commented on #35
Oh, also important to note that since you aren't mounting a config directory the default internal port is now 53.
[code]

[2021-12-22 13:13] JonAnder83 commented on #35
Recreated following your guidelines and now there are no warning errors anymore. That was weird. Thank you!

[2021-12-22 13:15] klutchell commented on #35
Weird indeed. Happy holidays!

[2021-12-22 13:15] #35 closed, assigned to nobody

[2021-12-23 21:06] TheNamelessWonderer commented on #29
Is there a fix for this? I’m on Debian 11 (actual Debian not Raspberry Pi OS) on a raspberry pi 3 running 64 bit and any container above 1-13-2-rev2
just keeps restart constantly. Downgrading to 1-13-2-rev2 solves the issue and it works perfectly.

[2021-12-24 12:19] klutchell commented on #29
I haven't found a fix yet as I've been busy at work, but thank you for sharing your OS details! You seem to be the first user that encountered this on 64-bit ARM. Can you share the output of the following to ensure you are seeing the same issue?

[code]

[code]

[2021-12-26 15:20] TheNamelessWonderer commented on #29
Sorry for the slow reply!
[code]
[code]
[code]
[code]
[code]

[2021-12-26 15:27] klutchell commented on #29
@TheNamelessWonderer Thank you for the details! It appears that you are not receiving the error tracked in this bug and in the logs above the container does not seem to be failing. Have you ever seen the following in your logs?
[code]
Do you have logs from the container when it is restarting?

Another user encountered a stale healthcheck and we resolved it over here: https://github.com/klutchell/u

[2021-12-26 15:30] TheNamelessWonderer commented on #29
If I run it normally I get: `1640532148] unbound[1:0] warning: so-rcvbuf 1048576 was not granted. Got 425984. To fix: start with root permissions(linux) or sysctl bigger net.core.rmem_max(linux) or kern.ipc.maxsockbuf(bsd) values.` and it restarts over and over again. My docker compose file looks like:
[code]
I have put the root.hints in the unbound folder and unbound.conf has the pihole configura

[2021-12-26 15:35] klutchell commented on #29
That warning should not cause it to restart, and it can be avoided by setting `so-rcvbuf` to something lower in your unbound.conf or adjusting the permissions.
[code]

Are you sure that's the only log you see before it restarts? What if you run `docker inspect unbound`?

Can you share the contents of your unbound.conf? Also increasing verbosity in your unbound.conf may help.
[code]

I don't think

[2021-12-26 15:50] TheNamelessWonderer commented on #29
[code]
I have switched it to 5 now and I have the following log:
[code]
That is all I have and it seems unrelated indeed. Do you want me to open another issue?

[2021-12-26 17:11] klutchell commented on #29
Yes please, and include all the information and logs you've already provided so others searching for the issue can find it!

I will answer you on the other thread.

[2021-12-26 17:22] TheNamelessWonderer opened #36 "Container constantly restart on version 1.14+"
On versions 1.14+ the container always restarts. This doesn't happen on 1.13.2-rev-2.
[code]
[code]
[code]
[code]
[code]
[code]
[code]
I have switched it to 5 and I have the following log:
[code]
I have put the root.hints in the unbound folder and unbound.conf has the pihole configuration in it. This works fine on 1-13-2-rev2 but just restarts on anything newer.

[2021-12-26 19:54] klutchell commented on #36
Thanks for opening a separate issue!

I think you can get rid of the `so-rcvbuf` warning by removing that line from your config or adding the net admin cap to your compose file. However, I'm not sure this is what's actually causing the restart and you probably had this warning before the upgrade.
[code]

Can you run `docker inspect` on your container and provide the results? Or maybe just try disa

[2021-12-26 20:19] klutchell commented on #36
I just noticed that since you commented out the logfile, it's attempting to write to syslog that does not exist.

Try setting `logfile: ""` in your config as well. This might resolve the issue, or at least give us more logs,

[2021-12-26 20:26] TheNamelessWonderer commented on #36
Here is the inspect:
[code]
I put ` "/etc/unbound/unbound.log"` in the unbound.conf file but that didn't do anything. I didn't create a log file. Adding
[code]
causes the error to disappear but it still restarts

[2021-12-26 20:31] klutchell commented on #36
If you actually set the logfile to an empty string, "", it will print to the docker logs and we can see what is going on.

[2021-12-26 20:36] TheNamelessWonderer commented on #36
Nope no luck all I have is:
[code]
Nothing more.

[2021-12-26 20:52] klutchell commented on #36
I compared your configuration to the default one in this repo, just to see the differences as we've seen it work without your config mounted. Can you make sure these are set?

[code]

I'm not sure why this config would break with the latest version, and work with the previous version, but hopefully with proper logging and startup settings we will get an idea of what's happening.

Also, not sure if

[2021-12-26 20:56] TheNamelessWonderer commented on #36
Yep adding those options to the unbound.conf file solved it! Thank you very much! I guess pihole needs to update their documentation then.

[2021-12-26 20:57] #36 closed, assigned to nobody

[2021-12-26 21:42] klutchell commented on #36
Glad it's working now!

If you mean [these docs](https://docs.pi-hole.net/guides/dns/unbound/) then I think they assume unbound is being installed on the host OS,  not in a container, so things like `do-daemonize` and `username` and `chroot` would matter less.

I might need to update the readme to suggest that if it's not working, try starting with the included example config instead of your own a

[2022-01-06 11:01] DragonQ commented on #29
Hi, I have the same issue as described in this thread. I am running the following docker-compose setup on both an x86-64 VM and a Pi 4B running `2021-05-07-raspios-buster-armhf-lite`. It works perfectly in the x86-64 VM but crashes with `Operation not permitted` on the Pi. I've tried all 1.14.0-rx tags, all have the same issue. The only thing that works is going back to 1.13.2 (which annoyingly me

[2022-01-06 16:15] klutchell commented on #29
Hey @DragonQ, can you try it again without your custom configuration file?

Something like this will confirm whether there is an issue with the image, or if there is something that needs adjusting regarding the configuration or volume permissions.
[code]

I think it treats `/etc/unbound` as root so it might drop the prefix when logging errors.

[2022-01-06 17:14] DragonQ commented on #29
[code]

[2022-01-07 18:05] klutchell commented on #29
Thank you @DragonQ , that does appear to be the same issue. I haven't been able to reproduce it on my existing Rpi devices, but I have been planning to flash the same version of Raspbian you have above to test.

[2022-01-07 20:30] DragonQ commented on #29
Great, hopefully you can find a solution. If the only solution ends up being "upgrade OS", I think I'll have to stick with 1.13.2 for a while. My Pi 4B is primarily used as an audio renderer and getting that set up correctly took a lot of research and effort, which I don't fancy doing again on a new OS.

Would there be any issue running two Piholes each forwarding to different versions of Unbound?

[2022-01-07 23:12] artivis commented on #36
To anyone passing by, this issue **can** be related to the config files ownership/permissions.
Big hammer? Setting those to the 'root' user 644 and unbound `username: ""` (no user change is performed) did the trick.

[2022-01-10 17:54] klutchell commented on #29
I was finally able to reproduce this by flashing the legacy (buster) release of Raspberry Pi OS.

[code]
[code]
[code]
Now that I've seen the behaviour myself it should be much easier to debug. Thanks for your patience everyone.

[2022-01-11 13:10] klutchell commented on #29
Can someone else try the following draft release on Raspberry Pi OS (buster)? It works for me at least.
[code]

[2022-01-11 13:22] DragonQ commented on #29
`docker: Error response from daemon: pull access denied for unbound/klutchell, repository does not exist or may require 'docker login': denied: requested access to the resource is denied.`

[2022-01-11 13:29] klutchell commented on #29
Apologies, there was a typo in my command above. It's been fixed now, the image is `klutchell/unbound:pr-38` and you can also try it with your compose file to be sure.

[2022-01-11 13:34] DragonQ commented on #29
[code]

[2022-01-11 13:45] klutchell commented on #29
Interesting, those are new errors and I don't see them on my device. I think we have made progress but there is something else different about your setup.

[2022-01-11 13:55] klutchell commented on #29
Can you add another `-v` to the run command and we can see if we get additional logs?
[code]
Also can you provide the output of `docker info`?

[2022-01-11 13:57] DragonQ commented on #29
Extra `-v` doesn't add any extra logging.

[code]

[2022-01-11 13:57] klutchell commented on #29
It looks like most of these issues are related to running a modern libc (either musl or glibc) on the legacy buster release due to the time64 changes. Other similar situations have been resolved by upgrading to bullseye.

I don't think that's a great solution but eventually these issues will get harder and harder to track down.

[2022-01-11 13:59] klutchell commented on #29
We might be able to ignore the `gettimeofday` error for now as that is confirmed related to running on buster, and wouldn't prevent the service from starting but would break DNSSEC (https://github.com/MatthewVance/unbound-docker-rpi/issues/23).

I don't see how `error: could not create event handling base` could happen unless there was a memory issue, but I'm going to look into it some more when I

[2022-01-28 13:18] Qeynos opened #46 "cachedb support"
I want save cache in redis, tried a lot but failed, please help if possible

[2022-02-05 16:40] #46 closed, assigned to nobody

[2022-02-20 14:13] stigjoergensen opened #48 "Not working with 172.1.0.0/24 subnet"
I just downloaded a clean version using the following compose file:

[code]

(used ! instead of haskmark as that seems to do something in the editor)

using dig: dig @192.x.x.x -p 53 dr.dk
i can see in the query log "OK, sent to unbound.pihole#53" that the request was send to unbound but the response never made it back

using docker exec -ti pihole /bin/bash im able from within the container to us

[2022-02-20 14:53] klutchell commented on #48
The formatting of your compose file is hard to read without three backticks (```) before and after.

Is anything printed in the unbound logs via `docker-compose logs unbound`?

[2022-02-20 15:03] stigjoergensen commented on #48
Fixed the compose file.

ran the container again without -d to get a fresh and clean log

[code]

[2022-02-20 15:19] klutchell commented on #48
Thank you for cleaning up the compose file and logs, that's much easier to read!

So it looks like unbound is working, but Pi-hole isn't responding to external requests.

Maybe we need to increase the debug logging of unbound. Can you add the following to your unbound service definition?
[code]
This should increase the verbosity of the unbound logs and we can hopefully see if it receives the reque

[2022-02-20 15:48] stigjoergensen commented on #48
added the command so now the service looks like this:
[code]

and we got a ton of log, but im not sure what to look for during the startup, but i do see this:

[code]
have attached the complete log

[pihole.log](https://github.com/klutchell/unbound-docker/files/8104333/pihole.log)

[2022-02-20 16:02] klutchell commented on #48
Hmm... I wonder if we need to allow that IP range to the allow list, or just change the IP range in the compose file.
https://github.com/klutchell/unbound-docker/blob/d7be321c9ccd55a726f248ad1285b391668444e0/rootfs_overlay/etc/unbound/unbound.conf#L74-L79

What if you change the pihole network to use addresses in the `10.x.x.x` or `172.16.x.x` range as a test?

[2022-02-20 16:11] stigjoergensen commented on #48
it will not let me bring up in 10.x.x.x

`ERROR: for pihole  Cannot start service pihole: Invalid address 10.1.1.3: It does not belong to any of this network's subnets`

even though the network is defined as:

[code]

Will try the 172.16 range now

[2022-02-20 16:14] klutchell commented on #48
You might need to do a `docker-compose down` before bringing it up again so the new network is defined.

[2022-02-20 16:15] stigjoergensen commented on #48
yep - that was the problem, even a --force-recreate didnt seem to remove the old network.

so changed the network to 172.16.1.0/24 and this seems to be working.. let me try on the 10/8 net again... just to 100% confirm thats the problem

[2022-02-20 16:20] stigjoergensen commented on #48
yes, confirmed - changing the network to an allowed network defined in unbound seems to do the trick..   So what is the right way going forward? i can leave it as defined now... but i think your image should enter include a volume for unbound so people can change it, or you should include a settings and then add that to the allow list.

[2022-02-20 16:27] klutchell commented on #48
Users are encouraged to mount their own configuration and they can use the included one as an example. There are instructions on the readme for this.

I have included a default settings file that allows [some private subnets](https://github.com/klutchell/unbound-docker/blob/main/rootfs_overlay/etc/unbound/unbound.conf#L74-L79) but `172.1.0.0/24` is not in the list of [reserved addresses](https://e

[2022-02-20 16:27] #48 closed, assigned to nobody

[2022-02-23 20:37] DFlexy opened #49 "Doubt"
Good afternoon,
Sorry if I posted in the wrong place

I have a doubt..
What is the difference between the 2 unbound below?

https://hub.docker.com/r/klutchell/unbound
https://hub.docker.com/r/klutchell/unbound-dnscrypt

[2022-02-23 21:02] klutchell commented on #49
Great question! This is the current deploy location: https://hub.docker.com/r/klutchell/unbound

https://hub.docker.com/r/klutchell/unbound-dnscrypt is the old repo and is no longer updated. I could probably change my deploy tools to push to both but I would rather deprecate [unbound-dnscrypt](https://hub.docker.com/r/klutchell/unbound-dnscrypt) I think.

[2022-02-23 21:04] DFlexy opened #50 "Problem with unbound 1.15.0"
After I updated the version of my unbound I'm having the following problem

[code]

Raspberry 4

root@Rasphouse:/home/pi# arch
aarch64

root@Rasphouse:/home/pi# lsb_release -a
No LSB modules are available.
Distributor ID: Debian
Description:    Debian GNU/Linux 11 (bullseye)
Release:        11
Codename:       bullseye

[2022-02-23 21:07] klutchell commented on #50
Can you share your docker-compose or docker run command? Are you mounting a custom configuration volume?

Also, what is the output of the following?
[code]

[2022-02-23 21:16] DFlexy commented on #50
here sa

Here same aways time

docker run -d \
  --name unbound \
  --hostname unbound \
  --network=lan \
  --ip=172.20.0.2 \
  --restart=unless-stopped \
  --cap-add=sys_nice \
  --cap-add=NET_ADMIN \
  -p 5053:53/tcp \
  -p 5053:53/udp \
  -v unbound:/etc/unbound/ \
  klutchell/unbound:latest

[2022-02-23 21:19] DFlexy commented on #50
root@Rasphouse:/home/pi# docker run --rm -it klutchell/unbound:1.15.0 -v -v -v -v
[1645651150] unbound[1:0] notice: Start of unbound 1.15.0.
[1645651150] unbound[1:0] debug: creating udp4 socket 0.0.0.0 53
[1645651150] unbound[1:0] debug: creating tcp4 socket 0.0.0.0 53
[1645651150] unbound[1:0] debug: chdir to /etc/unbound
[1645651150] unbound[1:0] debug: drop user privileges, run as unbound
[164

[2022-02-23 21:37] klutchell commented on #50
I see you are mounting a config volume. Did you make any changes to that
configuration or is it using the old defaults? What happens if you remove
the volume mount?

If you personalized unbound.conf in any way can you share it here?

On Wed., Feb. 23, 2022, 4:20 p.m. DFlexy, ***@***.***> wrote:

[2022-02-23 21:41] DFlexy commented on #50
I was using the volume it mounts itself.
But after I removed the volume it didn't work anymore
I did the test now without the volume and nothing the same problem

[code]

[2022-02-23 21:49] DFlexy commented on #50
Sorry it didn't work I forgot to take the other DNS I'm using to access
I saw it when I ran the leak test

https://www.dnsleaktest.com/

[2022-02-23 22:30] klutchell commented on #50
Have you tried running the tests on the README?
[code]

You can also add some debugging to your docker run command by adding `-v -v -v` to the end of it.

[2022-02-23 22:31] #49 closed, assigned to nobody

[2022-02-23 22:35] DFlexy commented on #50
tests here

![image](https://user-images.githubusercontent.com/50220928/155420843-cf00bb5b-c409-4156-b7d3-fd3012eb1cfe.png)

[2022-02-23 23:00] DFlexy commented on #50
Try other version too more same error

root@Rasphouse:/var/lib/docker/volumes/unbound/_data# docker logs -f unbound
[1645657202] unbound[1:0] notice: init module 0: validator
[1645657202] unbound[1:0] notice: init module 1: iterator
[1645657202] unbound[1:0] info: start of service (unbound 1.14.0).
[1645657203] unbound[1:0] info: generate keytag query _ta-4a5c-4f66. NULL IN

[2022-02-23 23:10] klutchell commented on #50
What you've pasted above contains no error, that's the normal output when it's running.
[code]
If you add `-v -v` to the end of your docker run command you may see more debug logs. But the tests are passing on your system so there must be something wrong with your run command or your test.

Try running a container on the same network as unbound and run dns queries.
[code]

Or try to query unbound

[2022-02-23 23:15] DFlexy commented on #50
I identified the problem.
After comparing with my backup file I identified 2 changes
after recovering the backup it worked again

The question is why was it modified?

[code]

[2022-02-23 23:19] klutchell commented on #50
I changed the default port from 5053 to 53 if a config file was not
provided, but that shouldn't have impacted your setup since your config was
on a volume. Same with running as "unbound" vs the default user, these were
just changes to the default config that shouldn't have impacted you? Maybe
since you added caps to your run command you need to run as root?

On Wed., Feb. 23, 2022, 6:15 p.m. DFle

[2022-02-23 23:44] DFlexy commented on #50
So I made a general removal and identified that it was just changing the port from 53 to 5053 in the unbound.conf file that started working again.

I tried to leave port 53 but I have a conflict and I can't.
I'm using pihole in host mode
Strange that it's only the input port which is 5053 and the internal port is 53

I don't need to run as root

[2022-02-24 13:39] klutchell commented on #50
The internal port will conflict with your docker network if other containers are using port 53. The exposed port (5053) only matters to the host.

[2022-02-24 13:39] #50 closed, assigned to nobody

[2022-03-11 22:44] DFlexy opened #52 "Unbound SLOW queries"
kutchell good evening I've been noticing that unbound is too slow for queries. Can you tell me what it could be?
Version (start of service (unbound 1.15.0)

![image](https://user-images.githubusercontent.com/50220928/157984450-b6a32d8f-55a1-467c-99f5-c436de161e3f.png)

[2022-03-12 12:45] klutchell commented on #52
That's much slower than I'm seeing. I'm running on Raspberry Pi 3 and my results are all below 60ms.

What kind of device are you running on? Are you running any other services on that device that may be using resources? Have you tried adjusting the settings in your unbound.conf to see if you can improve performance?

The provided configuration file is the bare minimum to get the container running

[2022-03-16 09:48] poneli opened #54 "Build with libevent"
Hi,

Would it be possible to get libevent support to be able to activate that as mentioned on https://nlnetlabs.nl/documentation/unbound/howto-optimise/

If i try to enable it I recieve:
unbound[1:0] warning: too many file descriptors requested. The builtinmini-event cannot handle more than 1024. Config for less fds or compile with libevent
unbound[1:0] warning: continuing with less udp ports: 984

[2022-03-17 13:56] klutchell commented on #54
Hey @poneli, thanks for the suggestion! Can you give an example of how you are testing this feature? Are you just increasing these values as per the documentation and getting that warning?
[code]

[2022-03-17 15:17] poneli commented on #54
Hi @klutchell,

Exactly, those were the values I tested with.

Br

[2022-03-17 16:06] #54 closed, assigned to nobody

[2022-03-17 16:09] klutchell commented on #54
Can you give the new build a try with `klutchell/unbound:pr-55`?

[2022-03-17 16:24] poneli commented on #54
Works great as in unbound not complaining about available file descriptors. :)

Thanks for quick reply and action @klutchell!

[2022-03-17 16:40] poneli commented on #54
Do you know when it's available in :latest?

[2022-03-17 16:46] klutchell commented on #54
I have merged to main, but building takes a few hours. At that point it will be available as `klutchell/unbound:main`.

In order for it to be available as `latest` I need to bump the `1.15.0` tag as well which I would rather not do. Are you okay pinning to `main` instead?

[2022-03-17 16:50] poneli commented on #54
Sure, thanks for the information. :)

[2022-03-21 18:46] churchofnoise opened #56 "Make unbound.conf available for tweaking"
Hi Kyle,

I've got your docker file running on my Firewalla Purple, and would like to be able to edit the unbound.conf file.
Could you please indicate which code I'd have to add to my yaml file to enable that please?

Thanks!

[2022-03-21 18:59] klutchell commented on #56
Hey @churchofnoise, I've never used that product before but based on their documentation you can mount locally directories as volumes like any other docker-compose stack.

So try adding something like this to your unbound service definition:

[code]

Then before running you can grab the default configuration files from here and put them in `/data/unbound/etc-unbound/` on your firewalll.
https://gi

[2022-03-21 19:39] churchofnoise commented on #56
@klutchell Thanks! I'll play around a bit with it.

FYI, I've mentioned your docker image for Unbound on the Firewalla community after a couple of us had been looking for ways to get Pi-Hole and Unbound running on it ( https://help.firewalla.com/hc/en-us/community/posts/1500001172701/comments/4941267404435 ). Very grateful you provide this multiarch image that acts as a recursive resolver!

[2022-03-21 19:39] #56 closed, assigned to nobody

[2022-03-31 17:11] DFlexy opened #58 "HELP IPv6"
Kyle Harding good afternoon.
Sorry if I posted in the wrong place.

But I need some help to configure IPv6
I use pihole + unbound (BRIDGE) follow my settings

[code]

[2022-03-31 18:35] klutchell commented on #58
Hey @DFlexy, good to hear from you again.

I'll start by saying I have almost no experience configuring IPv6 and I don't use it at home myself, so I may not be of much assistance. Maybe other users will see this thread and speak up.

Can you help me by stating your exact goal, and what went wrong with what you've tried?

[2022-03-31 18:37] DFlexy commented on #58
Apparently I managed to make it work I believe but I didn't get validity yet.
But I'm seeing duplicate queries on ipv4 and ipv6

![image](https://user-images.githubusercontent.com/50220928/161126091-1271cf6b-09b0-4ae7-9aac-6cc6b3e41f17.png)

[2022-03-31 18:41] klutchell commented on #58
Have you tried disabling IPv4 in Pi-hole and/or `unbound.conf` to remove the duplicates?

[2022-04-01 20:38] #58 closed, assigned to nobody

[2022-04-01 20:38] DFlexy commented on #58
Dont work more ty for   try help rsrsr ;)

[2022-04-05 09:13] DragonQ commented on #29
FYI, installing newer `libseccomp2` fixes the issue for me. The latest unbound image (and latest pihole image) now works on my Pi 4 running `2021-05-07-raspios-buster-armhf-lite`. Steps:

[code]

[2022-04-05 12:29] klutchell commented on #29
Nice find @DragonQ, thanks for sharing!

[2022-04-11 00:24] Ducky6944 commented on #52
Just to chime in on performance. I'm one of the documented configs mostly verbatim, with no issue in a proxmox vm. I've a had a couple hits in the 400ms range, subsequent looks to the same domain are cached and and are listed as 0.0 or 0.1ms.

The docker image `mvance/unbound` mentions using the host network mode specifically for performace, minding security issues of course. Maybe this would help

[2022-05-25 23:51] klutchell commented on #29
The correct solution is as @DragonQ shared above, either upgrade the host OS or at least upgrade `libseccomp2`.
https://github.com/moby/moby/issues/40734

[2022-05-25 23:51] #29 closed, assigned to nobody

[2022-06-02 14:54] churchofnoise opened #64 "Update to Unbound 1.16.0"
Hi!
Would it please be possible to update the container to the latest unbound version, 1.16.0 which was released today?
Thanks!

[2022-06-03 13:24] klutchell commented on #64
Sure thing, I'll work on that today and let you know when I have a version for testing!

[2022-06-03 17:03] klutchell commented on #64
The new version is working for me, can you give the `klutchell/unbound:pr-65` tag a try before I merge?

[2022-06-05 10:07] churchofnoise commented on #64
Just updated my container and seems to run fine!
Any tests I can do to further confirm?

[2022-06-05 10:13] klutchell commented on #64
That should be enough, the automated tests are passing too.

I'll merge it now and label the release when I'm back at my desk.

[2022-06-05 10:13] #64 closed, assigned to nobody

[2022-06-06 14:58] churchofnoise opened #66 "Avoid DNS rebinding protection to stop Plex from working properly"
Hi Kyle, just wanted to ask if you'd consider adding this line to the 'server' part of Unbound's config in your Docker container:
`private-domain: "plex.direct"`

When I still ran Unbound 'outside of a container' I had to do this to allow Plex to work properly, but since I am running it in a container on my Firewalla Purple, i haven't yet managed to get to the point where I can work with a custom

[2022-06-06 19:32] dajul opened #67 "Permission errors on 1.16.0 version"
Hello,

docker container keeps restarting after bumping from version 1.15.0 to 1.16.0 due to permission errors:

[code]

I could reproduce it on another host, always using Ubuntu 22.04 as host OS.
Start container with `klutchell/unbound:1.15.0` and update it to `klutchell/unbound:1.16.0`

docker-compose.yml :

[code]

Going back to `klutchell/unbound:1.15.0` image works perfectly.

Thank you!

[2022-06-07 12:46] klutchell commented on #67
Very odd, the behaviour shouldn't be any different between `1.16.0` and `1.15.0`. I'll take a look and see what's going on.

In the meantime, if you'd like a workaround, you can remove the `config:/etc/unbound` and see if that helps. Unless you've modified the configuration there is no need for a volume mount.

[2022-06-08 13:39] klutchell commented on #66
I would rather address the issues with loading a custom configuration if possible. Maybe make it easier to drop-in minor changes like this.

What is the current issue with loading a local configuration volume on your Firewalla? Does it not support Docker bind mounts?

[2022-06-08 19:26] dajul commented on #67
I've added some internal zones to my config, so I can't remove the volume.

I did some more test with my docker-compose.yml, which explains why permission is denied:

- `1.16.0`

[code]

[code]

- `1.15.0`

[code]

One change that it's working is changing  from `username: "unbound"` to `username: ""` in `unbound.conf`.

With this change, it seems unbound will run with root permissions:

[code]

[2022-06-09 13:02] klutchell commented on #67
This is extremely helpful! Sorry I haven't had a chance to get to it yet but I haven't forgotten!

[2022-06-09 18:33] klutchell commented on #67
It looks like the id of the unbound user has changed from `1001:1001` to `101:102`.

[code]
From the [documentation](https://buildroot.org/downloads/manual/manual.html#makeuser-syntax) and my [user_table.txt](https://github.com/klutchell/unbound-docker/blob/main/config/users_table.txt) it looks like it should have always been in the 100 range unless buildroot changed something recently.

I guess b

[2022-06-09 22:12] dajul commented on #67
Glad my post was helpful :)

I've changed permissions to new ones as suggested and now I'm running fine with `1.16.0`
I'll keep an eye on this ticket to see what will happen on future versions.

Thank you klutchell!

[2022-06-14 18:36] klutchell commented on #66
Can you try with `klutchell/unbound:pr-68` from this PR https://github.com/klutchell/unbound-docker/pull/68?

[2022-06-20 06:36] churchofnoise commented on #66
Thanks for that @klutchell !
I ran it, but can't find the custom conf file, I assume I should modify something in my yaml file pointing to the path with the custom config?

Currently, I have this:

(reason I opened this is my own lacking knowledge on how to work with Docker I'm afraid, not the capability of the system I run)

[2022-06-20 07:27] churchofnoise commented on #66
I figured it out, needed to add a pointer to the directory indeed.
Thanks!

Btw, another question if I may: the custom config file doesn't require `server:` to be added, I guess that is because you refer to it under that section in your included unbound.conf.  What should we do if we want to add another section, eg `rpz:` (just giving an example)?

[2022-06-20 07:27] #66 closed, assigned to nobody

[2022-06-20 17:06] klutchell commented on #66
I added `plex.local` to the default config so for your use case you shouldn't need to mount anything unless you require additional customization.
https://github.com/klutchell/unbound-docker/pull/68/commits/58852dcca444153085a6752117b5d21c86ebb04f

Good question, I didn't really account for this on the PR. Maybe I should move the include to the top level and require that the subsections be defined

[2022-06-20 17:57] churchofnoise commented on #66
THanks!

I also added `plex.direct` as a private domain(just to be sure) and some other customizations (further hardening, ttl modifications...)

On your second point: that might make sense, as it would indeed allow for a broader range of customization.

In any case, I am very grateful for what you've already done - most helpful!!

[2022-06-27 20:07] #67 closed, assigned to nobody

[2022-07-03 15:27] churchofnoise opened #70 "Custom conf file seems no longer loaded since moving the 'include' clause out of the 'server:' section of unbound.conf"
It seems that the files in the directory with custom conf files are not driving the expected outcome, since the recent change in the unbound.conf that moved it out of the 'server:' section of the file.
This e.g. showed in the Pi-Hole web interface (Pi-hole is configured to use the Unbound docker as DNS server): the percentage of responses from cache went down to a very low level, whereas before it

[2022-07-04 01:43] klutchell commented on #70
I saw your PR but have you confirmed this actually fixes the issue? I would like to understand why it doesn't work today.

[2022-07-04 10:37] churchofnoise commented on #70
Makes a lot of sense.

I've just tried by commenting out the non-'server' part of my custom config, with no effect.
In the mean time, I'm asking the Unbound community here: https://github.com/NLnetLabs/unbound/issues/710

Wouter Wijngaards already responded: https://github.com/NLnetLabs/unbound/issues/710#issuecomment-1173627501

So here is my takeaway:

- change 'include:...' to `include-toplevel

[2022-07-04 19:33] klutchell commented on #70
Sounds good to me, thanks for looking into this!

[2022-07-04 20:01] #70 closed, assigned to nobody

[2022-07-04 21:19] churchofnoise commented on #70
Just wanted to confirm it works perfectly!
Thanks a lot!

[2022-07-21 11:07] kien-truong opened #73 "Add CA certificates bundle for DNS-over-TLS"
The new Docker images no longer contain ca-certificates-bundle, so DNS-over-TLS cannot be used without the user manually supplying one.

IMHO, this is a regression, compared to the older Docker images and should be fixed.

[2022-07-21 15:18] klutchell commented on #73
Can you see if `klutchell/unbound:pr-74` works for you?

[2022-07-22 10:09] kien-truong commented on #73
Thanks, I tried that image and the certificates are included correctly.
However, you should probably also set the default configuration so that the user don't have to do it.

[code]

[2022-07-22 11:22] churchofnoise commented on #73
Given that not everyone will use this, probably best to customize configuration in a separate conf file if needed, IMHO...

[2022-07-22 12:56] klutchell commented on #73
@churchofnoise I don't think providing this path in the default configuration enables any features on it's own, it's just handy to have the path to the certificates already set if someone enables DNS-over-TLS since they wouldn't otherwise know where to find the certs.

[code]

@kien-truong thanks for the suggestion, I'll add this change to the PR and a new build of `klutchell/unbound:pr-74` should

[2022-07-25 16:15] #73 closed, assigned to nobody

[2022-07-29 10:13] zilexa commented on #52
It's just 6ms for me according to AdGuard Home. It uses Unbound as the only DNS server.

[2022-07-29 10:14] zilexa opened #77 "healtcheck is not possible"
On host Manjaro Gnome, Intel based system:

[code]
When I try to access console of the container via Portainer, I can't.
Tried both bash and sh. This is why this error appears. Nothing can be executed.

The image itself works just fine, just cannot access console and cannot run healthcheck commands.

[2022-07-29 16:36] klutchell commented on #77
Hey @zilexa, this image is [distroless](https://github.com/GoogleContainerTools/distroless), so it does not contain a shell or any other tools you could use with exec.

This is why the healthcheck example I have in the README isn't working. The `--health-cmd` flag attempts to wrap the command in `/bin/sh -c` but `sh` doesn't exist and you get the error you're seeing.

However, you can still [use d

[2022-07-29 19:14] zilexa commented on #77
Thanks! That makes sense. I'll wait for the updated documentation and will give it a go.

[2022-07-29 19:47] #77 closed, assigned to nobody

[2022-08-02 14:17] chemical-soup opened #83 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

This repository currently has no open or pending branches.

## Detected dependencies

<details><summary>docker-compose</summary>
<blockquote>

<details><summary>docker-compose.test.yml</summary>

 - `alpine 3.20@sha256:beefdbd8a1da6

[2022-08-02 20:37] tysegall opened #84 "Bump to 1.16.1"
Any chance you can do a 1.16.1 release soon?

Thank you.

[2022-08-02 20:56] klutchell commented on #84
Actually it looks like 1.16.2 is out. I'll look into updating soon.

https://nlnetlabs.nl/projects/unbound/download/

[2022-08-02 22:40] tysegall commented on #84
Even better!  Thank you.

[2022-08-03 13:52] #84 closed, assigned to klutchell

[2022-08-05 18:22] churchofnoise commented on #52
@DFlexy could you share your conf file(s)?
I recently noticed that that could strongly influence performance...

[2022-08-06 15:48] axeleroy opened #86 "Unusually long queries when container in macvlan network"
Hello,

I have my PiHole set up in a macvlan network and wanted to add unbound within it. Unfortunately, DNS queries to unbound are unusually long.

[code]
When the container is set in a bridge network, queries are under 100ms. I can't wrap my head around why DNS queries would take 700 times longer because unbound is in a macvlan network.

---

For context, here is my docker-compose
[code]

[2022-08-08 20:56] DFlexy commented on #52
hello sorry for the delay
About my configuration follows.
Use in bridge mode

docker run -d \
  --name unbound \
  --hostname unbound \
  --network=lan \
  --ip=172.20.0.2 \
  --restart=unless-stopped \
  --cap-add=sys_nice \
  crazymax/unbound:latest

Another point you might notice is that I'm using the crazymax image instead of the klutchell image.
What I noticed was that the klutchell image tak

[2022-08-14 19:36] churchofnoise commented on #52
Could you check if the problem still exists? (with the klutchell image that is)

[2022-08-14 22:35] DFlexy commented on #52
Info: I'm in Brazil
Only default config no have volume for custom config

[code]

[code]

[2022-08-14 22:42] DFlexy commented on #52
Using crazymax

[code]

[code]

[2022-08-14 22:45] DFlexy commented on #52
The tests were run after starting the container to not use any cache

**here crazy-max config default too**
https://github.com/crazy-max/docker-unbound/blob/master/rootfs/etc/unbound/unbound.conf

----------------------------------------
Here my tests config

docker run -d \
  --name unbound \
  --hostname unbound \
  --network=lan \
  --ip=172.20.0.2 \
  --restart=unless-stopped \
  --cap-add=sys

[2022-08-15 00:50] klutchell commented on #52
@DFlexy can you try again with the `:main` tag? You can also try `:sha-3ed0699` to be certain.
The latest tag hasn't been updated with the performance improvements.

[2022-08-15 12:14] DFlexy commented on #52
Tests done

[code]

[code]

[code]

[2022-08-15 12:21] churchofnoise commented on #52
Those are VERY high numbers, regardless of which image you use... I'd even dare say that both images perform somewhat similarly.

For reference, here's mine using the main tag version of the klutchell image:
[code]

[code]

[2022-08-15 12:26] DFlexy commented on #52
i'm in brazil my ping average for the USA is an average of 160ms

C:\>ping sigok.verteiltesysteme.net
Disparando sigok.verteiltesysteme.net [134.91.78.139] com 32 bytes de dados:
Resposta de 134.91.78.139: bytes=32 tempo=248ms TTL=46
Resposta de 134.91.78.139: bytes=32 tempo=254ms TTL=46
Resposta de 134.91.78.139: bytes=32 tempo=249ms TTL=46
Resposta de 134.91.78.139: bytes=32 tempo=247ms TTL=46

[2022-08-16 14:26] DFlexy commented on #52
@klutchell

Good Morning
I have a question the closest ROOT server to me is ICANN's can I prioritize somehow for him to use this first?

**l.root-servers.net | 199.7.83.42, 2001:500:9f::42 | ICANN**

root@Rasphouse:/home/pi# ping 199.7.83.42
PING 199.7.83.42 (199.7.83.42) 56(84) bytes of data.
64 bytes from 199.7.83.42: icmp_seq=1 ttl=61 time=14.3 ms
64 bytes from 199.7.83.42: icmp_seq=2 ttl=61 ti

[2022-08-20 15:05] klutchell commented on #52
@DFlexy You could try blocking queries to the other root servers so it is forced to use ICANN, like they've done in this post: https://discourse.pi-hole.net/t/is-there-a-way-to-avoid-russian-root-servers-using-unbound/54033/6

However I'm not confident that will actually speed up your queries since it should be loaded into cache at startup.

[2022-08-22 22:04] BrodyStone21 opened #91 "Having trouble getting root.hints file to work properly"
I downloaded the root.hints file and entered the path in unbound.conf. I'm now receiving the following error.

[code]

Any help would be appreciated. The only thing I could find on this repo related to root.hints was pulling it before manually building the container.

Everything is working fine, but it's driving me a bit crazy, because I don't know if I did this correctly.

Docker run command

[co

[2022-08-23 13:01] klutchell commented on #91
Hey @BrodyStone21, how did you download the root hints? Can you confirm the contents look the same as [this](https://raw.githubusercontent.com/klutchell/unbound-docker/main/rootfs_overlay/etc/unbound/root.hints)?

[2022-09-19 22:35] BrodyStone21 commented on #91
Hello, I'm sorry for the late reply. I followed the steps in the documentation and the contents look the same.

Anything else I can provide?

[2022-09-20 11:44] klutchell commented on #91
Can you make sure that your root hints file is readable by `101:102` or world?

What if you change the root hints mount and config path to `/etc/unbound/root.hints`?

[2022-09-20 13:31] BrodyStone21 commented on #91
Running `sudo chown 101:102 root.hints` and `sudo chmod +rwx root.hints` did not work. I forgot I changed my compose since posting this. Here is what I'm currently working with. As you can see, I'm already using `/etc/unbound/root.hints`

[code]

You can tell Unbound is reading the root.hints file because if I move the root.hints file and `touch root.hints`, then start Unbound, I receive the follo

[2022-09-21 00:11] klutchell commented on #91
Interesting...

Does unbound appear to work despite the error, or does it not resolve or crash?

Can you try turning up the `verbosity` value in your config?

What happens if you use the root.hints from this repo instead of your own?

[2022-09-21 10:20] churchofnoise opened #95 "Unbound 1.16.3 is released"
Email from Wouter Wijngaards:

Hi,

Unbound 1.16.3 is available:
https://nlnetlabs.nl/downloads/unbound/unbound-1.16.3.tar.gz
sha256 ea0c6665e2c3325b769eac1dfccd60fe1828d5fcf662650039eccb3f67edb28e
pgp https://nlnetlabs.nl/downloads/unbound/unbound-1.16.3.tar.gz.asc

This release fixes CVE-2022-3204 Non-Responsive Delegation
Attack. It was reported by Yehuda Afek from Tel-Aviv
University and Anat

[2022-09-21 21:35] klutchell commented on #95
Thanks for the heads up!

[2022-09-22 17:55] #95 closed, assigned to nobody

[2022-09-24 22:14] BrodyStone21 commented on #91
Unbound works just fine with the error. I've had it running for several months.

The issue persists when using the `root.hints` file from the repo.

[code]

This output is with the verbosity set to a value of 4. This is only a small chunck of the logs. I'm happy to send more if you wish, but was hoping this would be enough to help.

Please let me know if you need anything else. I couldn't make sen

[2022-09-27 17:00] klutchell commented on #91
Looking at the unbound source code I don't think that error is anything to worry about, especially if the service is otherwise running as expected.
https://github.com/NLnetLabs/unbound/blob/f02d6bddd12c26ccd19e62c18b96e5258164ccf7/iterator/iter_hints.c#L183

I am not familiar enough with how the root hints work to identify the exact conditions where it appears but I can't find any cases where it h

[2022-09-28 10:19] salavessa opened #98 "klutchell/unbound:1.16.3 images have unbound v1.16.2"
The dockerhub images for unbound `klutchell/unbound:1.16.3` are exactly the same as `klutchell/unbound:1.16.2` - it can be easily checked in the image digests: https://hub.docker.com/r/klutchell/unbound/tags?page=1&name=1.16

...and via `docker run` command:
[code]

Thanks.

[2022-09-28 17:11] sgtcoder opened #99 "Unable to get local-zone and local-data working"
Creating a new file `a-records.conf` in /root/unbound with the default unbound.conf from the docker.

[code]
[code]
[code]

I am not getting the 127.0.0.1 IP address, instead I am getting a Non-authoritative answer:.

Is there something I have to enable to get this working? I have been researching for a bit of time now and can't find anything.

[2022-09-28 17:16] sgtcoder commented on #99
For some reason if I use the non dnscrypt version, DNSSEC and local lookups work now

[code]

[2022-09-28 17:35] klutchell commented on #99
Hey there, `klutchell/unbound-dnscrypt` is the old name for this project and has not received updates for over 10 months. You should be using the `klutchell/unbound` image which seems to be working for you!

I'll add a note to the old DockerHub page and close this issue.

[2022-09-28 17:35] #99 closed, assigned to nobody

[2022-09-28 17:36] sgtcoder commented on #99
Thank you, one last thing, and it probably should go in a different thread.
[code]

How do I install libevent in the docker with rootfs?

[2022-09-28 17:48] klutchell commented on #99
The recent releases of `klutchell/unbound` are using libevent so you should not see this warning.

[2022-09-28 17:49] sgtcoder commented on #99
Thank you. Sorry, yah I accidently was pasting the old dnscrypt version again. Everything seems to be good. I am coming from a custom dnsmasq and was getting 30ms, and this is giving me like 6ms so that's much quicker. Also, Android requires DNSSEC.

[2022-09-28 17:50] klutchell commented on #98
Thanks for catching this! I'm working on re-tagging the release now!

[2022-09-28 17:54] klutchell commented on #98
Fixed now, thanks again for catching this!
[code]

[2022-09-28 17:54] #98 closed, assigned to nobody

[2022-10-13 06:33] jcouzy opened #101 "Unable to access container"
Hi, I am unable to access the unbound container to do analysis/troubleshooting.

docker exec -it unbound-test /bin/bash
OCI runtime exec failed: exec failed: container_linux.go:367: starting container process caused: exec: "/bin/bash": stat /bin/bash: no such file or directory: unknown

Why isn't there a shell installed in the container, doesn't work with other shells as well.

Thanks

[2022-10-13 07:53] jcouzy commented on #91
The "problem" is that the container already has a root.hints file in the container; in the configuration. What is in that root.hints file can't be seen. If you exclude the line  - root-hints: "/var/lib/root.hints" - from your unbound.conf, the error goes away. So basically this container is not working with your own root.hints file. I wonder why the container is built this way. There also is no po

[2022-10-13 11:57] churchofnoise commented on #91
I'd guess simplicity, on both questions.
And I'd do exactly the same quite frankly

[2022-10-13 12:22] klutchell commented on #101
Duplicate of https://github.com/klutchell/unbound-docker/issues/77

[2022-10-13 12:22] #101 closed, assigned to nobody

[2022-10-13 16:18] churchofnoise opened #102 "Unbound 1.17.0 is released"
Email from Wouter Wijngaards below

Hi,

Unbound 1.17.0 is available:
https://nlnetlabs.nl/downloads/unbound/unbound-1.17.0.tar.gz
sha256 dcbc95d7891d9f910c66e4edc9f1f2fde4dea2eec18e3af9f75aed44a02f1341
pgp https://nlnetlabs.nl/downloads/unbound/unbound-1.17.0.tar.gz.asc

This release has new interface acl configuration options. These
allow access-control actions, per interface. Also tags, and vie

[2022-10-13 16:20] klutchell commented on #102
I saw that as well, thanks for the heads up @churchofnoise! I might not get to it until the weekend but I will see if I can get a PR started today.

[2022-10-13 16:22] churchofnoise commented on #102
No rush as far as I'm concerned, just wanted to make sure you received the info!

[2022-10-13 16:23] klutchell commented on #91
The container is distroless, as mentioned at the top of the readme, so there is no shell to log in with.

I don't see this issue with the included root hints file, the question here is why the providing new ones are resulting in non-critical errors. I hope to get back to this investigation some day soon but for now the container is still running so it doesn't seem to be blocking anyone.

[2022-10-13 16:24] klutchell commented on #102
I do appreciate you opening an issue each time, as I often miss these releases otherwise. Keep it up!

[2022-10-14 01:18] #102 closed, assigned to nobody

[2022-10-14 15:54] zilexa opened #104 "Recreated container, stopped working"
I believe this is the test to confirm it isn't working:

[code]

I never configure anything for unbound, I just dump 127.0.0.1:5335 in Adguard Home as my only DNS server.
[code]

I did not modify my Docker Compose.

Log, obtained through Portainer:
[code]

Why did it stop working?

[2022-10-14 16:59] klutchell commented on #104
Hey @zilexa, could you run `docker exec unbound unbound -V` so I can see the build information?

Also, does your test work if you remove the `+dnssec` from your query?

[2022-10-15 18:29] klutchell commented on #91
@BrodyStone21 I reproduced this error by specifying a second `root-hints` in a custom config file. It seems that both values get read (the existing value from the included config is not overridden) and the error appears.

I suggest you either remove the root-hints path from your custom config, and just drop your root hints file on top of the existing one.

[code]

OR, if you want to continue using

[2022-10-15 18:29] #91 closed, assigned to nobody

[2022-10-16 04:33] BrodyStone21 commented on #91
I'll drop the line from my config. Thanks a ton for looking into and solving this issue.

I do have a few quick questions. How often is the root.hints file is updated from wherever it comes from? How fast are you able to get the root.hints file within the container configuration to reflect those changes?

[2022-10-16 08:32] churchofnoise opened #105 "Create a 'nightly' branch with latest Unbound?"
Hi @klutchell ,

Before I started using Docker for Unbound, I'd often update Unbound to whatever the latest version of Unbound on Github was (call it 'beta' of so). To do so, I'd compile using what I pulled from Github with this command: `git clone https://github.com/NLnetLabs/unbound.git` . As you see, same command so no manual work in adjusting parameters.

Would you consider adding a parallel b

[2022-10-16 15:28] klutchell commented on #105
That sounds nice to have, but it's not quite as straight forward as cloning the unbound from the tip of master.

This project is compiled with buildroot, and uses the upstream recipe here: https://github.com/buildroot/buildroot/blob/master/package/unbound/unbound.mk

Whenever there is a new unbound release I [patch upstream buildroot master](https://github.com/buildroot/buildroot/commit/eeeaa801f3

[2022-10-16 15:40] klutchell commented on #91
Every few months maybe? The recommendation is every 6 months. I try to check for new versions whenever there is a new unbound release. I checked this week and the contents haven't changed so I didn't push the new timestamp.

Good question. If I were notified that they need to be changed I could churn out a new build pretty fast. However I don't want to automate the process of updating root hints a

[2022-10-28 15:51] quyleanh commented on #46
@Qeynos did you resolve it? Could you please share your method?
Sorry for mentioning you too @klutchell

[2022-10-28 16:33] Qeynos commented on #46
Try this
https://github.com/Qeynos/unbound-redis-Docker/blob/main/unbound-redis-scratch/Dockerfile

and I have build images in hub docker com

[2022-10-28 16:39] quyleanh commented on #46
Thank you for your quick reply. I haven't checked your docker file yet, but do you have `prefetch` option on your build?

[code]

[2022-10-28 16:52] churchofnoise commented on #46
@Qeynos : might be useful to also indicate that your image forwards to Google and Cloudflare iso doing recursive resolving, using the authoritative servers.

[2022-10-28 22:41] quyleanh commented on #46
@churchofnoise could you explain more detail?

[2022-10-28 22:50] quyleanh opened #106 "How to save cache locally and add `prefetch` option to getting faster resolve"
Since I use with Adguard Home, everytime I update Adguard Home and restart docker image, the cache is gone.

I would like to save cache locally and prefetch the cache before it expires to get faster query on client side.

How can I archive it? Thank you.

[2022-10-29 01:46] Qeynos commented on #46
@quyleanh no conf file in the build, you need to set for your self
https://hub.docker.com/r/qeynos/unbound-redis-scratch

[2022-10-29 03:53] quyleanh commented on #46
@Qeynos thank you very much. Your current config has enabled prefetch.

[2022-10-29 04:08] quyleanh commented on #46
@churchofnoise I see your point. Unbound should recursively resolve query instead of forward to upstream DNS resolver, shouldn't it?

[2022-10-31 16:12] klutchell commented on #106
Unbound does not cache to disk, only to memory. Caching to disk would be much slower and reading the cache would often not be as fast as resolving again.

Why not keep the unbound container running and only restart the Adguard Home container?

[2022-10-31 23:39] quyleanh commented on #106
Thank you for your answer.

I'm not sure if it can backup these caches to disk too. For example we force save cache to disk before stopping unbound and load cache to memory when starting. Can we do that?

It's my bad since I think I have to restart all services at once. But the cache is still gone when we update unbound, isn't it?

[2022-11-01 05:48] churchofnoise commented on #106
It is typically gone after restarting Unbound indeed.

In the past, I've played with this as well, using what's described here: https://abridge2devnull.com/posts/2016/03/unbound-dns-server-cache-control/

In reality, the impact was minimal as cache build up fairly fast again.

In my current setup, pi-hole (equivalent of adguard for you) and unbound can be updated and restarted individually.
Perhap

[2022-11-01 05:54] quyleanh commented on #106
@churchofnoise thank you for your information.

As I noticed, the initial query took about 200-300ms. How about yours?

I still don't understand the flow of building up cache which you mentioned. Could you please explain more detail?

[2022-11-01 06:51] churchofnoise commented on #106
Initial queries take the same amount of time here.

Building up cache: I just mean, after a restart of Unbound, bit by bit, the cache is 'reconstructed'.
After a limited amount of time, your cache will contain the same elements as it did before.
So the net benefit of saving your cache to avoid loss during restart is probably limited.

(not completely related but might be interesting: you could inc

[2022-11-01 07:05] quyleanh commented on #106
So you mean the cache of all previous queries (the queries before restarting unbound) will be automatically reconstructed by prefetch?

About increasing min ttl number, thank you for your suggestion. As klutchell's unbound docker image has enabled `prefetch` by default, so I think it is not necessary to set a large min ttl number. (Am I right?)
For now, there is no problem about querying speed in

[2022-11-01 07:31] churchofnoise commented on #106
No, I mean that the cache that was lost because of the restart, will come back after the first visit to each of those websites. So the slower queries will only occur during the first visit after restart. Not a big issue I'd say, and a couple of hundred ms will probably not be noticeable anyway.

Correct, using prefetch brings the largest advantage in speed, increasing min ttl will not be noticeabl

[2022-11-01 08:45] quyleanh commented on #106
Ah, I get your point now. In my side, the cached queries is a bit faster than the new one, and it's noticeable.

Btw, thank you very much for explaining all these things patiently. I think I will close this issue since there is no suitable approach for me. Looking forward to seeing other idea.

[2022-11-01 08:45] #106 closed, assigned to nobody

[2022-11-09 18:16] klutchell opened #107 "Suggest resources for distroless containers"
Having these links on the README might be helpful for those trying to debug their container.
- https://iximiuz.com/en/posts/docker-debug-slim-containers/
- https://github.com/iximiuz/cdebug